#one{
  width: 300px;
  justify-content: right;
  /* text-align: right; */
}
th{
  justify-content: center;
  align-items: center;
  text-align: left;
}
#submit{
  background-color: rgb(69, 154, 20);
  padding: 10px 20px 10px 20px;
  border:none;
  border-radius: 4px;
  color: white;
  margin-top: 10px;
  
}
table{
  background-color: rgb(243, 224, 198);
  padding: 15px;
  border: 2px solid rgb(165, 165, 165);
 
}